@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat-v24-latin-regular.woff2') format('woff2'),
        url('assets/fonts/montserrat-v24-latin-regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat-v24-latin-500.woff2') format('woff2'),
        url('assets/fonts/montserrat-v24-latin-500.woff') format('woff');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'FiraCode';
    src: url('assets/fonts/FiraCode-Regular.woff2') format('woff2'),
        url('assets/fonts/FiraCode-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background-color: #141926;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}


pre {
    font-family: 'FiraCode', monospace;
    font-size: 0.8em;
    background-color: #3a4654;
    padding: 5px 8px;
    min-width: 380px;
}

sub {
    color: #3a4654;;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.header {
    position: sticky;
    top: 0;
}

.navigation {
    background-color: #141926;
}

.navigation__list {
    text-transform: uppercase;
    font-size: 0.6em;
    display: flex;
    justify-content: flex-end;
}

.navigation__item {
    padding: 5px 10px;
}

.navigation__item:hover {
    background-color: #395661;
}

.main__container {
    display: flex;
    padding-top: 15px;
    flex-direction: row-reverse;
}

.container__left {
    flex: 0 0 280px;
    margin-right: 50px;

}

.container__right {
    flex: 1 1 100%;
}

.main__section {
    margin-bottom: 30px;
}

.title-mobile {
    display: none;
}

.title-desktop {
    margin-top: 20px;
    margin-bottom: 60px;
}

.photo__img {
    border-radius: 30px;
    border: 3px solid #3a4654;
}

.main__title {
    font-size: 2em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section__title {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
}

.section__title::after {
    content: "";
    height: 2px;
    background-color: #3a4654;
}

.contacts__item span {
    color: #395661;
}

.contacts__link {
    display: inline-block;
    background-color: #141926;
    padding: 0 5px;
    transition: transform 0.3s ease-in-out;
}

.contacts__link:hover {
    transform: scale(1.2);
}

.summary__text p {
    margin-bottom: 10px;
}

.section__link {
    color: #395661;
    font-size: 1.2em;
    font-weight: 500;
}

.section__link:hover {
    color: #3a4654;
}

.contacts__list {
    line-height: 2;
}

.skills__item {
    line-height: 2;
}

.skills__item::before {
    content: '\2714';
    background-color: #395661;
    padding: 1px 5px;
    border-radius: 3px;
    margin-right: 10px;
}

.courses__item {
    margin-left: 2em;
    text-indent: -2em;
}

.courses__sublist {
    padding-left: 2em;
    margin-left: -2em;
    text-indent: 0;
}

.main__bottom {
    display: flex;
    justify-content: space-between;
}

.projects {
    width: 40%;
    margin-right: 30px;
}

.code {
    width: 60%;
}

.code__text {
    font-size: 0.8em;
}

.footer {
    position: relative;
    bottom: 100%;
    height: 40px;
    padding: 10px auto;
    font-size: 0.6em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    display: flex;
    align-items: center;
}

.github-logo {
    margin-right: 10px;
}

.footer__logo {
    width: auto;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
}




@media (max-width: 1080px) {
    .main__bottom {
        display: flex;
        flex-direction: column;
    }

    .projects {
        width: 100%;
        margin-right: 0px;
    }
    
    .code {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .container {
        padding: 0 20px;
    }

    .container__left {
        margin-right: 20px;
    }

}


/* уменьшаем размер шрифта и ширину колонки **************************************************/

@media (max-width: 760px) {
    body {
        font-size: 14px;
    }

    .container__left {
        flex: 0 0 220px;
    }

    pre {
        min-width: 280px;
    }

    .footer__logo {
        height: 26px;
        padding: 2px;
    }
}


/* переходим на один столбец **************************************************/

@media (max-width: 580px) {
    .navigation__list {
        justify-content: center;
    }

    .navigation__item {
        padding: 5px 5px;
    }

    .main__container {
        flex-direction: column-reverse;
    }
    
    .container__left {
        flex: 1 1 100%;
        margin-right: 0;
    }

    .title {
        display: flex;

    }

    .photo {
        flex: 1 1 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .photo__img {
        object-fit: cover;
        aspect-ratio: 1 / 1; 
        width: 100%;
        max-width: 180px;
        height: auto;
        border-radius: 50%;
    }

    .title-mobile {
        flex: 0 0 180px;
        display: block;
        align-self: center;
    }

    .title-desktop {
        display: none;
    }

    .main__subtitle {
        font-size: 0.9em;
    }
}

@media (max-width: 340px) {
    .navigation__item {
        padding: 5px 4px;
    }

    pre {
        padding: 5px 5px;
    }
}
